[Unit]
Description=QEMU Guest Agent
After=dev-virtio\x2dports-org.qemu.guest_agent.0.device
ConditionPathExists=/dev/virtio-ports/org.qemu.guest_agent.0
ConditionVirtualization=|kvm
ConditionVirtualization=|qemu

[Service]
ExecStart=-/usr/bin/qemu-ga
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
